<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>Playing GIF</h1>
        </div>
        
    </div>
   
        <div class="col-xs-12">
           
                <img src="{{context.images.original.url}}" height="100%" width="100%">
                 
        </div>
        <div class="row custom-modal-footer">
       <button style="margin-top:20px;margin-left:10px" (click)="closeBox()">Close</button>
    </div>
</div>