<!--The content below is only a placeholder and can be replaced.-->
<div class="titleClass" >
  <h3>
    Welcome to Giphy Search Application!
  </h3>
</div>
<app-search></app-search>
<ng4-loading-spinner> </ng4-loading-spinner>
<router-outlet></router-outlet>
