<div class="input-group md-form form-sm form-2 pl-0">
  <input class="form-control my-0 py-1 amber-border"  autofocus="true" type="text" 
  placeholder="Search" aria-label="Search"  id="test2" (keyup)="searchGiphy(searchTerm)" name="search" #searchTerm>
  <div class="input-group-append">
    <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
        aria-hidden="true"></i></span>
  </div>
</div>

<div class="row">
<div class="gifs"  *ngFor="let gif of gifs">
 <div class="col-sm-6" *ngIf="gifs?.length > 0">
  <img src="{{gif.images.fixed_height_small_still.url}}" (click)="playGif(gif.images)" width="80" height="80">
</div>
</div>

</div>
<div class="searchMsg"  *ngIf="gifsBoolean">
 <h4>No Gifs for your search. Please modify your search Term and try again.</h4> 
 </div>



