.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    }
    .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    }
   
    .input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid blue;
    }

    .input-group{
        width:30%!important;
        margin-left: 5%!important;
        margin-top: 5% !important;
    }

    .gifs{
        margin-left: 5%!important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;

    }

    .searchMsg{
        padding: 5%;
        margin-left: 15%;
        color: red; 
    }
    